<html xmlns:th="https://www.thymeleaf.org">

<body>
    <div class="mediaCard" style="display: flex;flex-direction: row;">
        <div class="mediaContainer" th:switch="${submission.media.type}">
            <img th:case="'image'" th:src="@{${submission.media.images[0]}}" style="max-width: 400px; width: 100%;">
            <video th:case="'video'" th:src="@{${submission.media.images[0]}}" style="max-width: 400px; width: 100%;">
        </div>
        <div class="infoContainer">
            <h2 th:text="${submission.headline}"></h2>
            <p th:text="${submission.description}"></p>
            <p th:text="${submission.start}"></p>
            <p th:text="${submission.end}"></p>
            <p th:text="${submission.submitTime}"></p>
        </div>
        <div class="managementButtons">
            <form action="#" th:action="@{/event}" th:object="${event}" method="post">
                <button class="Accept" onclick="">Accept</button>
            </form>
            <form action="#" th:action="@{/event}" th:object="${event}" method="post">
                <button class="Deny">Deny</button>
            </form>
        </div>
    </div>
</body>

</html>